<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">

    <title>LIST</title>
</head>
<body class="bg-light">
    <header class="row bg-grey align-center">
        <nav>
            <a href="/" class="brand-btn">LIST</a>
           
            <% if(locals.isLoggedIn) {%>
                <p class='username'><%= locals.username %>,
                    <span class="logout"><a href='/logout'>Logout</a></span>
                </p>
                
            <%}%>
           
            
        </nav>
    </header>
        


