<%- include('partials/header') %>

    <div class="row home-content align-center">
        <div class="right">
    <h2 class = "home-text">A task manager</h2>
    <h1 class = "home-text">doIt</h1>
    <h2 class = "home-text">DoIt makes task management easy.</h2>
    
    <a href="/signup" class="brand-btn">Join</a>
    <p>Already registered?<a href='/login'>Login here</a></p>


</div>
<div class="left">
    <img src="/Images/hero.png" alt="list" class="illustration">
    
</div>
</div>
<%- include('partials/footer') %>