<%- include('partials/header') %>

    <div class="home-content">
        <div class="right">
    <h2 class = "home-text">A task manager</h2>
    <h1 class = "home-text">doIt</h1>
    <h2 class = "home-text">DoIt makes task management easy.</h2>
    
    
    <button class="brand-btn"><a href="/signup">Join</a></button>
    <p>Already registered?<a href='/login'>Login here</a></p>


</div>
<div class="left">
    <img src="/Images/hero.png" alt="list" class="illustration">
    
</div>
</div>
<%- include('partials/footer') %>