@font-face{
    font-family: 'Montserrat';
    src:url('Montserrat-Regular.ttf')
}
*{
    font-family: Montserrat;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    /* background-color:#f4f4f4; */
}
.container{
    padding:0 80px;
    align-items: center;
    
}
.home-content{
    height:100vh;
}
.row{
    display:flex;
}
.left,.right{
    /* border:1px solid black; */
}
.home-text{
    color:#54a5a8;
    margin-bottom:15px;
}
.brand-btn{
    background-color:#54a5a8;
    border-color:#54a5a8;
    padding:14px 12px;
    color:#fff;
    text-decoration: none;
    font-size:22px;
    border-radius:5px;
    

}
ol a{
    text-decoration: none;
    color:inherit;
}
.brand-btn:hover{
    background-color: #fff;
    color:#54a5a8;
    border:solid 2px #54a5a8;
}
.illustration{
    width:80%;
   
    
}