@font-face{
    font-family: 'Montserrat';
    src:url('Montserrat-Regular.ttf')
}
*{
    font-family: Montserrat;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.bg-light{
    background-color:#fff;
}
.bg-grey{
    background-color: #f4f4f4;
    
}
header{
    height:80px;
    margin-bottom: 15px;
    border-radius: 5px;;
}
.container{
    padding:0 80px;
    align-items: center;
    
}
.home-content{
    height:100vh;
}

.align-center{
    align-items: center;
}
.row{
    display:flex;
}

.home-text{
    color:#54a5a8;
    margin-bottom:15px;
}
.brand-text{
    color:#54a5a8;
}

.brand-btn{
    background-color:#54a5a8;
    border-color:#54a5a8;
    padding:14px 12px;
    color:#fff;
    text-decoration: none;
    font-size:22px;
    border-radius:5px;
}

ol a{
    text-decoration: none;
    color:inherit;
}
.brand-btn:hover{
    background-color: #fff;
    color:#54a5a8;
    border:solid 2px #54a5a8;
}
.btn{
    background-color:#54a5a8;
    border-color:#54a5a8;
    font-size:18px;
    color:white;
    text-decoration: none;
    margin:9px 0;
    padding:7px 6px;
}
.btn:hover{
    background-color: #488c8f;
    border-color: #488c8f;
}

.illustration{
    width:80%;
}
.items{
    margin:20px 0;
    
}
/* #add{

}  */
.items{
    margin:20px 0;
    
}
.item{
    padding:15px 15px;
    margin-bottom:4px;
    font-size:20px;
    /* display:flex; */
}

.buttons{
    margin-top:20px;
}
form{
    display:flex;
    justify-content: center;
    
    
}
.form-content{
    width:60%;
}
.new-item{
    border-color:#f4f4f4;
    border:0;
    outline:none;
    font-size:26px;
    padding:8px;
    border-radius: 5px;
    width:100%;
}
.form-btns{
display:flex;
justify-content: center;
}
.form-btns > input{
    margin-left:10px;
    outline:none;
    border:0;
}
.form-btns .btn{
    width:150px;
    text-align:center;
}
.redirect img{
    display: block;
    margin:0 auto;
}
.action{
    float:right;
    transform:translateY(-42px)
}
.action form {
    margin-left:5px
}
.edit{
    background-color:#1daf33;
    border-color:#1daf33;
}
.edit:hover{
    background-color:#188e2a;


}
.delete{
    background-color: #e2362d;
    border-color:#e2362d;
    
}
.delete:hover{
    background-color:#c42d25;
    
}
